.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

.banner-card {
  border: 1px solid #cbced2;
  list-style-type: none;
  border-radius: 8px;
  width: 100%;
  margin: 8px 0px;
  padding: 12px;
}

.heading {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 700;
  color: #326a9d;
}

.description {
  font-family: 'Roboto';
  font-size: 16px;
  color: #64748b;
  margin: 18px 0px;
}

.show-more-btn {
  font-family: 'Roboto';
  font-size: 12px;
  color: #326a9d;
  background-color: #ffffff;
  font-weight: 600;
  border: 1px solid #326a9d;
  border-radius: 4px;
  padding: 8px;
}
